body {
  font-family: 'Open Sans', sans-serif;
  max-width: 100%;
  text-align: center;
  overflow-x: hidden;
}



#landing-page .container-fluid {
  padding-left: 30px;
  /* background-color: #9F756A; */
}

nav a {
  color: #000;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 5rem;
}

.navbar-brand {
  font-family: 'Fjalla One', sans-serif;
  font-size: 3rem;
}

.nav-item {
  font-size: 1.1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.billboard-text {
  position: relative;
  /* left: 80px; */
  top: 80px;
}


.billboard {
  text-align: left;
}

.big-heading {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.2;
}

.landing-subtitle {
  margin-bottom: 40px;
  margin-top: 10px;
}

.calender-icon {
  margin-right: 5px;
}

.landing-image {
  width: 120%;
  position: relative;
  /* right: 4rem;
  bottom: 5rem; */
}

#features {
  position: relative;
  background-color: #EEE3D9;
}

.feature-container {
  padding: 5%;
}

.feature-heading {
  font-size: 1.5rem;
  font-weight: 700;
}
