body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}


/* Navigation Bar*/
.navbar {
  padding: 1.5rem;
}

.navbar-brand {
  font-family: 'PT Serif', serif;
  font-size: 2rem;
}

.nav-item {
  padding: 0 0.5rem;
}

.nav-link {
  font-size: 1.1rem; 
}
